<h4>Internal app-server-error -refreshing the page will make the error diappear!</h4>
<ng-container *ngIf="error">
  <h5 class="text-danger">Error:{{error.message}}</h5>
  <p class="font-weight-bold">Note:If you are seeing this then Angular is probaly not to blame</p>
  <p>What to do next?</p>
  <ol>
    <li>Open the chorme dev tools</li>
    <li>Inspects the network tab</li>
    <li>Check the failing request</li>
    <li >Examine the request URL-make sure it is correct</li>
    <li>Reproduce the error in postman-if we see the same response ,then the issue is not in Angular</li>
  </ol>
<p>Following is the stack trace-this is where your investigation should strar</p>
<code class="mt-5" style="background-color: whitesmoke;">{{error.details}}</code>
</ng-container>
